body { 
    background-color: black;
    color: white;
    text-align: center;
}

.commentSection {
    border: 5px solid green;
    height: 75%;
}

.login {
    margin-top: 10%;
    margin-bottom: 5%;
}

h1 {
    font-size: 400%;
}

#p1buttons input,
#p2buttons input {
    width: 25%;
    height: 50%;
}

.p1,
.p2 {
    border: 5px solid grey;
    border-radius: 20px;
    padding: 2%
}

.cSection {
    text-align: left;
    margin-bottom: 25%;
}

.scores,
.ties {
    font-weight: bold;
    font-size: 200%;
}